---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Tarikan Red Square: Aksesibilitas Jarak Berjalan";
const description = "Kelebihan kedekatan Dataran Merah (Dutch Square) untuk hartanah Airbnb Melaka. Bagaimana jarak berjalan ke tarikan utama meningkatkan tempahan.";
const image = "/images/blog/tarikan-red-square-aksesibilitas.jpg";
const date = "2026-01-25";
const category = "location-analysis";
const language = "ms";

const content = "<h1>Tarikan Red Square: Aksesibilitas Jarak Berjalan</h1><p>Berd dalam jarak berjalan dari Dataran Merah terkenal Melaka memberi kesan ketara kepada prestasi Airbnb. Berikut ialah cara untuk menggunakan kelebihan lokasi ini.</p>";
---
<BlogPost title={title} description={description} image={image} date={date} category={category} language={language} content={content} />
