---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Merlimau历史名镇：遗产投资机会";
const description = "发现Merlimau历史名镇的遗产投资机会。传统建筑、文化旅游吸引力，以及马六甲的Airbnb潜力。";
const date = "2026-02-08";
const category = "location-based";
const language = "zh";
const image = "/images/blog/merlimau历史名镇-遗产投资机会.jpg";

const content = `<h1>Merlimau历史名镇：遗产投资机会</h1><p>[Content would be Chinese translation of the English version]</p>`;
---

<BlogPost {title} {description} {image} {date} {category} {language} {content} />
