---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Membeli-Belah Jalan Antik: Mensasarkan Kuasa Belanja Pelancong";
const description = "Cara mensasarkan pelancong yang membeli-belah di kedai antik Jonker Street. Peroleh pelancong budaya yang membelanj tinggi di zon warisan Melaka.";
const image = "/images/blog/membeli-belah-jalan-antik.jpg";
const date = "2026-01-25";
const category = "location-marketing";
const language = "ms";

const content = "<h1>Membeli-Belah Jalan Antik: Mensasarkan Kuasa Belanja Pelancong</h1><p>Kedai antik di Jonker Street menarik pelancong budaya yang membelanj tinggi. Pelajari cara menentukarkan Airbnb anda untuk menangkap segmen pasaran yang kaya ini.</p>";
---
<BlogPost title={title} description={description} image={image} date={date} category={category} language={language} content={content} />
