---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Kejayaan Pelancongan Makanan Laut: RM7,500/bulan dari Rumah Kampung Serkam";
const description = "Kisah kejayaan RM7,500/bulan dari rumah kampung Serkam. Bagaimana lokasi pelancongan makanan laut memacu pendapatan Airbnb yang konsisten.";
const date = "2026-02-09";
const category = "social-proof";
const language = "ms";
const image = "/images/blog/kejayaan-pelancongan-makanan-laut-rm7500-serkam-village-house.jpg";

const content = `<h1>Kejayaan Pelancongan Makanan Laut: RM7,500/bulan dari Rumah Kampung Serkam</h1><p>[Malay translation]</p>`;
---

<BlogPost {title} {description} {image} {date} {category} {language} {content} />
