---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Kedekatan Pelayaran Sungai: Strategi Kebolehcapaian Tarikan Sungai Melaka";
const description = "Strategi kebolehcapaian tarikan Sungai Melaka untuk pelaburan Airbnb. Bagaimana kedekatan pelayaran sungai meningkatkan tempahan dan kadar okupansi.";
const date = "2026-02-08";
const category = "location-based";
const language = "ms";
const image = "/images/blog/kedekatan-pelayaran-sungai-strategi-kebolehcapaian-tarikan-sungai-melaka.jpg";

const content = `<h1>Kedekatan Pelayaran Sungai: Strategi Kebolehcapaian Tarikan Sungai Melaka</h1><p>[Content would be Malay translation]</p>`;
---

<BlogPost {title} {description} {image} {date} {category} {language} {content} />
