---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "古董街购物旅游消费能力定位";
const description = "如何针对在Jonker Street古董店购物游客。利用马六甲遗产区的高消费文化旅游游客。";
const image = "/images/blog/古董街购物旅游消费能力.jpg";
const date = "2026-01-25";
const category = "location-marketing";
const language = "zh";

const content = "<h1>古董街购物旅游消费能力定位</h1><p>Jonker Street的古董店吸引高消费文化旅游游客。学习如何定位您的Airbnb以捕获这个富有的市场细分。</p>";
---
<BlogPost title={title} description={description} image={image} date={date} category={category} language={language} content={content} />
