---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Kampung Nelayan Serkam: Potensi Pelaburan Kampung Nelayan";
const description = "Potensi pelaburan kampung nelayan Serkam untuk Airbnb. Pelancongan makanan laut, kehidupan pantai autentik, dan analisis ROI.";
const date = "2026-02-09";
const category = "location-based";
const language = "ms";
const image = "/images/blog/kampung-nelayan-serkam-potensi-pelaburan-kampung-nelayan.jpg";

const content = `<h1>Kampung Nelayan Serkam: Potensi Pelaburan Kampung Nelayan</h1><p>[Malay translation]</p>`;
---

<BlogPost {title} {description} {image} {date} {category} {language} {content} />
