---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Red Square Attractions: Walking Distance Accessibility";
const description = "Melaka Red Square (Dutch Square) proximity advantage for Airbnb properties. How walking distance to major attractions boosts bookings.";
const image = "/images/blog/red-square-attractions-walking-distance.jpg";
const date = "2026-01-25";
const category = "location-analysis";
const language = "en";

const content = "<h1>Red Square Attractions: Walking Distance Accessibility</h1><p>Being within walking distance of Melaka's famous Dutch Square (Red Square) significantly impacts Airbnb performance. Here's how to leverage this location advantage.</p>";
---
<BlogPost title={title} description={description} image={image} date={date} category={category} language={language} content={content} />
