---
import BlogPost from '@/layouts/BlogPost.astro';

const title = "Pelancongan Makanan Laut: Bagaimana Pemandangan Kuliner Serkam Meningkatkan Permintaan Airbnb";
const description = "Bagaimana pemandangan kuliner Serkam meningkatkan permintaan Airbnb. Pelancongan makanan laut menarik pencinta makan ke kampung pantai Melaka.";
const date = "2026-02-09";
const category = "location-based";
const language = "ms";
const image = "/images/blog/pelancongan-makanan-laut-serkam-culinary-boosts-airbnb.jpg";

const content = `<h1>Pelancongan Makanan Laut: Serkam Culinary Boosts Airbnb</h1><p>[Malay translation]</p>`;
---

<BlogPost {title} {description} {image} {date} {category} {language} {content} />
